html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
table,
tbody,
thead,
tfoot,
tr,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
optgroup,
option,
label,
blockquote,
code,
pre {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  vertical-align: baseline;
}

/* Basic Global Styles */

body {
  line-height: 1.3;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Add your own custom styles below */
